<!-- form-profile.html -->

<div class="row">
	<div class="col-md-12">
		<div class="col-md-9">
            <div class="form-group">
                <label for="date" class="date">Date Of Birth</label>
                <input class="form-control" ng-model="formData.dob" name="dob"  placeholder="Date of Birth" bs-datepicker type="text">
            </div>

			<div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" ng-model="formData.name">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" ng-model="formData.email">
            </div>


            <div class="form-group row">
            <div class="col-xs-6 col-xs-offset-3">
                <a ui-sref="contact.interests" class="btn btn-block btn-info">
                Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
            </div>
		</div>
	</div>	
</div>




